<!-- index.html -->

<!DOCTYPE html>
<html data-ng-app="pokemonApp">
  <head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- angular -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>

    <!-- custom script (angular app) -->
    <script type="text/javascript" src="app.js"></script>

  </head>
  <body data-ng-controller="PokemonCtrl as pokemon">

    <h2>Trainer: {{pokemon.trainer.name || "Ash"}}</h2>

    <span>Enter your name:</span>
    <input type="text" ng-model="pokemon.trainer.name">

    <span>Search Pok&#233;mon:</span>
    <input type="text" data-ng-model="searchPokemon">

    <div data-ng-repeat="poke in pokemon.pokemonList | orderBy:'nDex' | filter:searchPokemon">
      <p>{{poke.name}}</p>
    </div>

  </body>
</html>
